# Database Credentials
DB_USER=postgres
DB_PASSWORD=secretpassword
DB_NAME=billing_radius

# Prisma Database URL (Digunakan oleh Docker App)
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}?schema=public"

# Prisma Local DB URL (Jika Anda menjalankan `npx prisma migrate dev` dari komputer Anda langsung)
# DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@localhost:5432/${DB_NAME}?schema=public"

# Redis URL
REDIS_URL="redis://redis:6379"

# Next Auth 
NEXTAUTH_SECRET="ganti_dengan_random_string_di_production"
NEXTAUTH_URL="http://localhost:3000"
